.media-body {
  /* flex: 1; */
  height: 25px;
  width: 200px;
  font-size: 12px;
  word-break: break-all;
}

.aviewall {
  /* color: lightblue; */
  text-align: center;
  font-size: .75rem;
  color: #007ad9;
  text-decoration-color: #007ad9;
  text-decoration: underline;
}
.h6, h6 {
  font-size: 12px;
  margin-top: 8px;
  margin-left: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

p{
  margin-top: -10px;
  margin-bottom: 1rem;
  margin-left: 8px;
  font-size:12px;
}
.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: lightgrey;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-left: 207px;
  margin-top: -107px;
}

.checkbox-round:checked {
  background-color: lawngreen;
}

ul {
  list-style: none;
}


.norecord {
  font-size: 12px;
  color: red;
  margin-left: 22px;
}

.hdncount{
  display:none;
}

.showcount {
  display: block;
}


#Alerts {
  left: -123px;
  margin-top: -7px;
  height: 315px;
}
.clientLogo{
  width:190px;
  height:50px;
  background-size:contain;
  background-repeat:no-repeat;
  background-position-y:center;
}
.pstyle {
  margin-top: -8px;
  margin-left: 7px;
}
.Wmaindiv {
  padding-top: 7px;

}

.headerUserAvatar {
  
  float: right;
  display: inline-block;
  
}
.my-avatar /deep/ .avatar-container {
  height: 37px !important;
  width: 37px !important;
}
.my-avatar /deep/ .avatar-content {
  font: 16px/35px Helvetica, Arial, sans-serif !important;
}
