<!-- Edufront Modal Layer -->
<div class="modal fade" id="wnctyModal" tabindex="-1" role="dialog" aria-labelledby="wnctyModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!--<app-chart-test></app-chart-test>-->
      <!--<app-alert></app-alert>-->
      <!--<app-settings *ngSwitchCase="1"></app-settings>-->
      <!--<app-select-client *ngSwitchCase="2"></app-select-client>-->
      <!--<app-note-list></app-note-list>-->
      <!--<div *ngSwitchDefault><app-settings></app-settings></div>-->
      <router-outlet name="modal"></router-outlet>
    </div>
  </div>
</div>
