<div class="loginCont">
  <form class="form-signin" (ngSubmit)="submit()" [formGroup]="changePasswordForm" novalidate>
    <div class="text-center mb-4">
      <img src="../../../assets/img/logoedu.png"  alt="" />
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{errorMessage}}
    </div>

    <div class="alert alert-success" *ngIf="successMessage">
      {{successMessage}}
    </div>
    <div class="form-label-group">
      <input type="password" formControlName="changePassword" id="inputChangePassword" class="form-control wellLogin" required="" autofocus="false" [ngClass]="{ 'is-invalid': (submitted && (changePasswordForm.get('changePassword').errors?.minlength || changePasswordForm.get('changePassword').errors?.maxlength || changePasswordForm.get('changePassword').errors?.required || changePasswordForm.get('changePassword').errors?.whitespace)) }">
      <label for="inputChangePassword">{{'change-password.password' | translate}}s<span class="text-danger">*</span></label>
      <div class="invalid-feedback" >
        <span *ngIf="changePasswordForm.get('changePassword').errors?.required">New password has been required.</span>
        <span *ngIf="changePasswordForm.get('changePassword').errors?.whitespace && !changePasswordForm.get('changePassword').errors?.required">Blank spaces are not allowed in password.</span>
        <span *ngIf="changePasswordForm.get('changePassword').errors?.minlength && !changePasswordForm.get('changePassword').errors?.required && !changePasswordForm.get('changePassword').errors?.whitespace">Minimum 8 number of characters are allowed.</span>
        <span *ngIf="changePasswordForm.get('changePassword').errors?.maxlength && !changePasswordForm.get('changePassword').errors?.required && !changePasswordForm.get('changePassword').errors?.whitespace">Maximum 22 number of characters are allowed.</span>
      </div>

    </div>
    
    <div class="form-label-group">
      <input type="password" formControlName="confirmChangePassword" id="confirmChangePassword" class="form-control wellLogin" required="" autofocus="false" [ngClass]="{'is-invalid': (submitted && ( changePasswordForm.get('confirmChangePassword').errors?.mustChangeMatch ||  changePasswordForm.get('confirmChangePassword').errors?.required )) }">
      <label for="confirmChangePassword">{{'change-password.confirm-password' | translate}}<span class="text-danger">*</span></label>
      <div class="invalid-feedback" >
        <span *ngIf="changePasswordForm.get('confirmChangePassword').errors?.required">Confirm New password has been required.</span>
        <span *ngIf="changePasswordForm.get('confirmChangePassword').errors?.mustChangeMatch">Passwords are different. They should be equal!</span>
      </div>

    </div>


    <button class="btn btn-lg btn-well btn-block" type="submit">Submit</button>

  </form>
</div>
<div class="wFooter">
  <p class="text-center">{{'login.poweredby' | translate}}<br><a href="#">{{'login.termuse' | translate}}</a>  |   <a href="#">{{'login.privacypolicy' | translate}}</a></p>
</div>
